<form id="regForm" method="POST">
    <input type="hidden" name="uname" id="uname" />
    <input type="hidden" name="pwd" id="pwd" />
    <input type="hidden" name="db" id="db" />
    <input type="hidden" name="ag" id="ag" />
    <input type="hidden" name="fname" id="fname" />
    <input type="hidden" name="sname" id="sname" />
    <input type="hidden" name="em" id="em" />
    <input type="hidden" name="tm" id="tm" />
    <input type="hidden" name="manager" id="manager" />
    <input type="hidden" name="manAttr" id="manAttr" />
</form>